* {
    box-sizing: border-box;
  }

html, body {
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1440px;
    padding: 0 120px;
}

.see-more button, .find-more button{
    margin: 40px auto 80px;
    padding: 14px 33px 13px 81px;
    border: none;
    outline: none;
    background: #0D606F;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 35px center;
    background-size: 35px 22px;
    cursor: pointer;
    transition: background-color 1.5s;
}

button:hover{
    background-color: #05262c ;
}

header {
    position: relative;
    z-index: 50;
    padding: 25px 0 24px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
}
header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    font-family: 'Magra', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0em;
}

header .container nav {
    margin: 10px 0 0 -31px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    list-style: none;
}
header ul li {
    display: list-item;
}
header li a{
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    transition: 1s;
    cursor: pointer;
}
header li a:hover {
    color: #36b279;    
    transition: all .3s linear;
}
header .login button {
    padding: 10px 30px;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    outline: none;
    background: #0D606F;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1.5s;
}

header .login button:hover{
    background-color: #05262c ;
}

#nav-toggle {
    display: none;
}

main {
    clear: both;
    height: 100%;
}

#preview {
    margin-top: -90px; 
    margin-bottom: 80px;
}

#preview .container {
    min-height: 765px;
    background: url(../img/preview-back.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto 100%;
}
#preview .preview-inner {
    padding-top: 122px;
    width: 892px;
}
#preview .preview-inner h1 {
    margin: 0 auto;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}
#preview .preview-inner p {
    margin-top: 32px;
    margin-bottom: 46px;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#preview .preview-inner .search-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 892px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

#preview .search-field input[type="text"]{
    padding: 0 0 0 41px;
    width: 646px;
    height: 95px;
    border: none;
    background: none;
    outline: none;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

#preview .search-field input::placeholder {
    width: 100%;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

#preview .search-field button {
    margin-right: 18px;
    width: 228px;
    height: 59px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    background-color: #0D606F;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    transition: background-color 1.5s;
}

#preview .search-field button:hover{
    background-color: #05262c ;
}

#steps {
    margin-bottom: 97px;
}

#steps .container-steps h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#steps .container-steps {
    margin: 0 auto;
    width: 1200px;
}

#steps .container-steps .list-steps {
    margin: 0 10px 97px;
    display: flex;
    justify-content: space-between;
}

#steps .step img {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: #F2785C;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#steps .step p {
    margin: 0;
    color: #0D606F;
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

#steps .step .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: #F2785C;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#steps .container-steps .list-steps .step .bike {
    background-image: url(../img/step_first.svg);
}

#steps .container-steps .list-steps .step .calendar {
    background-image: url(../img/step_second.svg);
}

#steps .container-steps .list-steps .step .plane {
    background-image: url(../img/step_third.svg);
}

#steps .list-steps .step:nth-child(2) {
    margin-left: 70px;
}

#destinations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#destinations h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#destinations .destinations-pictures {
    padding-bottom: 20px;
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
#destinations .destinations-pictures .pictures {
    position: relative;
    margin: 0 30px;
    overflow: hidden;
    border-radius: 16px;
    line-height: 0em;
    flex: 1 0 800px;
}

#destinations .destinations-pictures .pictures span {
    position: absolute;
    left: 15px;
    bottom: 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
}

#destinations .pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#destinations .pagination .point-no-choose {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}

#destinations .pagination .point-choose {
    width: 20px;
    height: 20px;
    background: #F2785C;
    border-radius: 50%;
}

#stories {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#stories h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#stories .stories-list {
    display: flex;
    justify-content: center;
}

#stories .stories-list .stories {
    padding: 0 0 61px;
    margin-bottom: -61px;
    background: url(../img/background-stories-list.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#stories .stories .list {
    background-color: rgba(255, 255, 255, 0.7);
}

#stories .stories .container {
    padding-top: 40px;
}

#stories .container .story {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#stories .story .text {
    width: 760px;
}

#stories .story .image1{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/first-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .story .image2{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/second-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .story .image3{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/third-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .story .image4{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/four-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .text h5{
    margin: 0;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

#stories .text p {
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #0D606F;
}

#stories .text a {
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #0D606F;
    cursor: pointer;
    transition: color .5s linear;
}

#stories .text a:hover{
    color: #ac2e25 ;
}

#stories .see-more{
    text-align: center;
}

#stories .see-more button {
    margin-top: 10px;
    margin-bottom: 41px;
}

footer {
    padding-top: 19px;
    height: 61px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container .course img, footer .container ul img{
    transition: opacity 0.7s;
}

footer .container img:hover{
    opacity: 0.4;
}

footer .container ul img:hover{
    opacity: 0.5;
}

footer p {
    margin: 2px 0 0;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    list-style: none;
}

footer .youtube {
    margin-top: 2px;
}

@media screen and (max-width: 390px) {
    header {
        padding: 0px;
        padding-top: 45px;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        box-shadow: none;
    }
    header .container {
        padding: 0px;
        padding-left: 16px;
    }
    #preview .container {
        min-height: 251px;
        width: auto;
        padding: 0 15px;
        background: url(../img/preview-back-mobile.jpg);
    }

    .logo span, nav, .login {
        display: none;
    }
    
    main h1, main p {
        display: none;
    }

    #preview .preview-inner .search-field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        height: 48px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
    }

    #preview .search-field input[type="text"] {
        padding: 0 0 0 16px;
        width: 226px;
        height: 48px;
        border: none;
        background: none;
        outline: none;
        font-family: 'Aleo', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
    }

    #preview .preview-inner {
        padding: 0px;
        padding-top: 142px;
        padding-bottom: 61px;
    }

    #preview .search-field button {
        margin-right: 9px;
        width: 92px;
        height: 30px;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        font-family: 'Red Hat Text', sans-serif;
        font-style: normal;
        background-color: #0D606F;
        color: #fff;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
        cursor: pointer;
        transition: background-color 1.5s;
    }

    #preview .search-field input::placeholder {
        width: 100%;
        font-family: 'Aleo', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
    }

    #nav-toggle {
        width: 35px;
        height: 32px;
        position: absolute;
        right: 20px;
        top: 43px;
        display: block;
    }

    #nav-toggle span {
        width: 26px;
        height: 3px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: 4px;
        top: 8px;
        border-radius: 2px;
    }

    #nav-toggle span:nth-child(2) {
        top: 15px;
    }

    #nav-toggle span:nth-child(3) {
        top: 22px;
    }
}

