* {
    box-sizing: border-box;
  }

html, body {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 1440px;
    padding: 0 120px;
}

.see-more button, .find-more button{
    margin: 40px auto 80px;
    padding: 14px 33px 13px 81px;
    border: none;
    outline: none;
    background: #0D606F;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 35px center;
    background-size: 35px 22px;
    cursor: pointer;
    transition: background-color 1.5s;
}

button:hover{
    background-color: #05262c ;
}

header {
    position: relative;
    z-index: 50;
    padding: 25px 0 24px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
}
header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    font-family: 'Magra', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0em;
}

header .container nav {
    margin: 10px 0 0 -31px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    list-style: none;
}
header ul li {
    display: list-item;
}

header ul .account, header ul .socia-media{
    display: none;
}

header li a{
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    transition: 1s;
    cursor: pointer;
}

header li a:hover {
    color: #36b279;    
    transition: all .3s linear;
}

header .login button {
    padding: 10px 30px;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    outline: none;
    background: #0D606F;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1.5s;
}

header .login button:hover{
    background-color: #05262c ;
}

#nav-toggle {
    display: none;
}

nav .close {
    display: none;
}

main {
    clear: both;
    height: 100%;
}

#preview {
    margin-top: -90px; 
    margin-bottom: 80px;
}

#preview .container {
    min-height: 765px;
    background: url(../img/preview-back.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto 100%;
}
#preview .preview-inner {
    padding-top: 122px;
    width: 892px;
}
#preview .preview-inner h1 {
    margin: 0 auto;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}
#preview .preview-inner p {
    margin-top: 32px;
    margin-bottom: 46px;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#preview .preview-inner .search-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 892px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

#preview .search-field input[type="text"]{
    padding: 0 0 0 41px;
    width: 646px;
    height: 95px;
    border: none;
    background: none;
    outline: none;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

#preview .search-field input::placeholder {
    width: 100%;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

#preview .search-field button {
    margin-right: 18px;
    width: 228px;
    height: 59px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    background-color: #0D606F;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    transition: background-color 1.5s;
}

#preview .search-field button:hover{
    background-color: #05262c ;
}

#steps {
    margin-bottom: 97px;
}

#steps .container-steps h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#steps .container-steps {
    margin: 0 auto;
    width: 1200px;
}

#steps .container-steps .list-steps {
    margin: 0 10px 97px;
    display: flex;
    justify-content: space-between;
}

#steps .step img {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: #F2785C;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#steps .step p {
    margin: 0;
    color: #0D606F;
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

#steps .step .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: #F2785C;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#steps .container-steps .list-steps .step .bike {
    background-image: url(../img/step_first.svg);
}

#steps .container-steps .list-steps .step .calendar {
    background-image: url(../img/step_second.svg);
}

#steps .container-steps .list-steps .step .plane {
    background-image: url(../img/step_third.svg);
}

#steps .list-steps .step:nth-child(2) {
    margin-left: 70px;
}

#destinations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#destinations h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#destinations .destinations-pictures {
    padding-bottom: 20px;
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
#destinations .destinations-pictures .pictures {
    position: relative;
    margin: 0 30px;
    flex: 1 0 800px;
    overflow: hidden;
    border-radius: 16px;
    line-height: 0em;
}

#destinations .destinations-pictures .pictures span {
    position: absolute;
    left: 15px;
    bottom: 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
}

#destinations .pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#destinations .pagination .point-no-choose {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}

#destinations .pagination .point-choose {
    width: 20px;
    height: 20px;
    background: #F2785C;
    border-radius: 50%;
}


#destinations .roulette-next {
    display: none;
}

#destinations .roulette-prev {
    display: none;
}

#stories {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#stories h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#stories .stories-list {
    display: flex;
    justify-content: center;
}

#stories .stories-list .stories {
    padding: 0 0 61px;
    margin-bottom: -61px;
    background: url(../img/background-stories-list.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#stories .stories .list {
    background-color: rgba(255, 255, 255, 0.7);
}

#stories .stories .container {
    padding-top: 40px;
}

#stories .container .story {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#stories .story .text {
    width: 760px;
}

#stories .story .image1{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/first-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .story .image2{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/second-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .story .image3{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/third-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .story .image4{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    line-height: 0em;
    background: url(../img/four-story-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

#stories .text h5{
    margin: 0;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

#stories .text p {
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #0D606F;
}

#stories .text a {
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #0D606F;
    cursor: pointer;
    transition: color .5s linear;
}

#stories .text a:hover{
    color: #ac2e25 ;
}

#stories .see-more{
    text-align: center;
}

#stories .see-more button {
    margin-top: 10px;
    margin-bottom: 41px;
}

footer {
    padding-top: 19px;
    height: 61px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container .course img, footer .container ul img{
    transition: opacity 0.7s;
}

footer .container img:hover{
    opacity: 0.4;
}

footer .container ul img:hover{
    opacity: 0.5;
}

footer p {
    margin: 2px 0 0;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    list-style: none;
}

footer .youtube {
    margin-top: 2px;
}

.registration-form{
    display: none;
    overflow: hidden;
}

.registration-form.open {
    display: block;
}

.registration-window {
    position: absolute;
    left: 50%;
    top: 50px;
    z-index: 55;
    width: 650px;
    margin-left: -325px;
    border-radius: 16px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 25px 45px 23px;
    text-align: center;
}

.registration-window h4 {
    margin: 0 0 30px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0D606F;
}

.registration-window .social-login .facebook {
    background: #1877F2;
    color: #fff;
}
.registration-window .social-login a {
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 56px;
    text-decoration: none;
    border-radius: 10px;
}

.registration-window .devider {
    margin: 0 0 10px;
}

.registration-window .devider span {
    position: relative;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
}

.registration-window .devider span::before {
    left: -500px;
    right: 150%;
}

.registration-window .devider span::after {
    left: 150%;
    right: -500px;
}

.registration-window .devider span::before, .registration-window .devider span::after {
    position: absolute;
    top: 50%;
    display: block;
    height: 1px;
    content: "";
    background-color: rgba(13, 96, 111, 0.5);
}

.registration-window .input-field span {
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D606F;
}

.registration-window input[type="text"], .registration-window input[type="password"] {
    width: 100%;
    height: 54px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: none !important;
    outline: none !important;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgb(13 96 111 / 8%), inset 0px 2px 3px rgb(13 96 111 / 16%);
    border-radius: 10px;
}

.registration-window button {
    width: 100%;
    height: 54px;
    margin: 5px 0 10px;
    box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: none;
    outline: none;
    background: #0D606F;
    color: #fff;
    cursor: pointer;
    transition: background-color 1.5s;
}

.registration-window button:hover, .login-window button:hover {
    background-color: #05262c;
}

.registration-window .forgott-pass {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #0D606F;
    text-shadow: 0px 2px 3px rgb(255 255 255 / 16%);
}

.registration-window hr {
    margin: 26px 0 20px;
    border-color: rgba(13, 96, 111, 0.5);
    border-bottom: none;
}

.registration-window .form-switcher {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgb(255 255 255 / 16%);
}

.registration-window .form-switcher .login-switcher {
    color: #0D606F;
    cursor: pointer;
    text-decoration: underline;
}

.registration-shadow {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 53;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.login-form{
    display: none;
}

.login-form.open {
    display: block;
}

.login-window {
    position: fixed;
    top: 50px;
    left: 50%;
    z-index: 55;
    margin-left: -325px;
    padding: 25px 45px 23px;
    width: 650px;
    border-radius: 16px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    text-align: center;
}

.login-window h4 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 30px;
    color: #0D606F;
}

.login-window .input-field span{
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D606F;
}

.login-window button {
    width: 100%;
    margin: 5px 0 10px;
    height: 54px;
    box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: none;
    outline: none;
    background: #0D606F;
    color: #fff;
    cursor: pointer;
    transition: background-color 1.5s;
}

.login-window .input-field input[type="text"], .login-window .input-field input[type="password"] {
    width: 100%;
    height: 54px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: none !important;
    outline: none !important;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgb(13 96 111 / 8%), inset 0px 2px 3px rgb(13 96 111 / 16%);
    border-radius: 10px;
}

.login-window hr {
    margin: 26px 0 20px;
    border-color: rgba(13, 96, 111, 0.5);
    border-bottom: none;
}

.login-window .form-switcher {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgb(255 255 255 / 16%);
}

.login-window .form-switcher .switcher {
    color: #0D606F;
    cursor: pointer;
    text-decoration: underline;
}

.login-shadow {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 53;
    display: block;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

@media screen and (max-width: 1439px) {
    html, body {
        min-width: auto;
    }

    .container {
        width: auto;
        padding: 0 15px;
    }

    #steps .container-steps {
        margin: 0 auto;
        width: auto; 
    }

    #stories .stories-list .stories {
        padding: 0 0 61px;
        min-height: auto;
        margin-bottom: -61px;
        background: url(../img/background-stories-list.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }

    #stories .story .image1 {
        min-height: auto;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/first-story-img.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }

    #stories .story .image2{
        min-height: auto;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/second-story-img-mobile.jpg);
        background-size: 100% 100%;
    }
    
    #stories .story .image3{
        min-height: auto;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/third-story-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }
    
    #stories .story .image4{
        min-height: auto;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/four-story-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }

    #stories .story .text {
        width: auto;
        padding-left: 15px;
    }

    #stories .story .text p{
        font-size: 10px;
        font-weight: 400;
        line-height: 24px;
    }

    #stories .text h5 {
        width: auto;
    }
}

@media screen and (max-width: 940px) {

    header .container .logo span{
        display: none;
    }

    #preview .preview-inner {
        padding-top: 122px;
        width: 100%;
    }

    #preview .preview-inner .search-field {
        min-height: auto;
        max-width: 100%;
        background-size: 100% 100%;
    }

    #preview .search-field input[type="text"] {
        max-width: 100%;
        padding: 0;
        font-size: 24px;
        line-height: 29px;
        color: #F2785C;
    }

    #preview .search-field input::placeholder {
        max-width: 100%;
        font-family: 'Aleo', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 29px;
        color: #F2785C;
    }

    #destinations .destinations-pictures .pictures span {
        left: 50px;
    }

}

@media screen and (max-width: 770px) {
    header .container .logo {
        display: none;
    }

    header .container nav {
        margin: 10px 0 0 0px;
    }

    #destinations .destinations-pictures .pictures span {
        left: 80px;
    }

    header li a {
        font-size: 10px;
    }

    header .login button {
        padding: 5px 15px;
        font-size: 10px;
    }

    #stories .story .text {
        width: auto;
    }

    .registration-window {
        left: 15px;
        right: 15px;
        width: auto;
        margin: 0;
    }

    .login-window {
        left: 15px;
        right: 15px;
        width: auto;
        margin: 0;
    }
}

@media screen and (max-width: 660px) {

    #steps .step .icon {
        width: 80px;
        height: 80px;
    }

    #steps .container-steps .list-steps .step .bike {
        background-image: url(../img/step_first.svg);
        background-size: 40px 40px;
    }

    #steps .container-steps .list-steps .step .calendar {
        background-image: url(../img/step_second.svg);
        background-size: 40px 40px;
    }

    #steps .container-steps .list-steps .step .plane {
        background-image: url(../img/step_third.svg);
        background-size: 40px 40px;
    }

    #steps .step p {
        font-size: 15px;
        line-height: 24px;
    }

    #steps .list-steps .step:nth-child(2) {
        margin-left: 0px;
    }

    #destinations .destinations-pictures .pictures span {
        left: 180px;
    }

    footer .course{
        display: none;
    }

    footer p {
        display: none;
    }

    #stories .story .image1{
        display: none;
    }
    
    #stories .story .image2{
        display: none;
    }
    
    #stories .story .image3{
        display: none;
    }
    
    #stories .story .image4{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 0;
    }

    header li a {
        font-size: 8px;
        line-height: 8px;
    }

    header .login button {
        padding: 3px 10px;
        font-size: 8px;
    }

    #preview {
        margin-bottom: 40px;
    }

    #preview .container {
        min-height: 500px;
    }

    #preview .preview-inner h1 {
        font-size: 40px;
        line-height: 48px;
    }

    #preview .search-field input[type="text"] {
        height: 60px;
    }

    #preview .search-field button {
        margin-right: 0px;
        width: auto;
        padding: 3px 10px;
        height: 50px;
        font-size: 8px;
        line-height: 11px;
    }

    #steps .list-steps .step:nth-child(2) {
        margin-left: 0px;
    }

    #destinations .destinations-pictures .pictures span {
        left: 250px;
    }

    #preview .search-field input[type="text"] {
        font-size: 12px;
        line-height: 29px;
    }

    #steps {
        margin-bottom: 40px;
    }

    #steps .container-steps h2 {
        font-size: 30px;
        line-height: 53px;
    }

    #steps .container-steps .list-steps .step .bike {
        background-image: url(../img/step_first.svg);
        background-size: 40px 40px;
    }

    #steps .container-steps .list-steps .step .calendar {
        background-image: url(../img/step_second.svg);
        background-size: 40px 40px;
    }

    #steps .container-steps .list-steps .step .plane {
        background-image: url(../img/step_third.svg);
        background-size: 40px 40px;
    }

    #steps .step .icon {
        width: 80px;
        height: 80px;
    }

    #steps .step p {
        font-size: 15px;
        line-height: 24px;
    }

    #destinations h2 {
        margin: 0 0 20px;
        font-size: 30px;
        line-height: 53px;
    }

    .find-more button {
        margin: 30px auto 40px;
    }

    #stories h2 {
        margin: 0 0 20px;
        font-size: 30px;
        line-height: 43px;
    }

    #stories .text h5 {
        font-size: 25px;
        line-height: 32px;
    }

    #stories .text a {
        font-size: 15px;
    }
}

@media screen and (max-width: 412px) {
    header li a {
        font-size: 6px;
        line-height: 6px;
    }

    header .login button {
        padding: 2px 5px;
        font-size: 6px;
    }

    #preview {
        margin-bottom: 40px;
    }

    #preview .preview-inner h1 {
        font-size: 20px;
        line-height: 25px;
    }

    #preview .preview-inner p {
        margin-top: 32px;
        margin-bottom: 46px;
        font-size: 10px;
        line-height: 15px;
    }

    #preview .container {
        min-height: 400px;
    }

    #preview .search-field input[type="text"] {
        height: 50px;
    }

    #steps {
        margin-bottom: 40px;
    }

    #steps .container-steps h2 {
        font-size: 20px;
        line-height: 33px;
    }

    #steps .step .icon {
        width: 50px;
        height: 50px;
    }

    #steps .container-steps .list-steps .step .bike {
        background-image: url(../img/step_first.svg);
        background-size: 20px 20px;
    }

    #steps .container-steps .list-steps .step .calendar {
        background-image: url(../img/step_second.svg);
        background-size: 20px 20px;
    }

    #steps .container-steps .list-steps .step .plane {
        background-image: url(../img/step_third.svg);
        background-size: 20px 20px;
    }

    #steps .step p {
        font-size: 10px;
        line-height: 12px;
    }

    #destinations h2 {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 30px;
    }

    .see-more button, .find-more button {
        margin: 20px auto 40px;
    }

    #stories h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #stories .text h5 {
        font-size: 18px;
        line-height: 30px;
    }

    #stories .text a {
        font-size: 12px;
    }

    #stories .text p {
        margin-top: 12px;
    }
    
}

@media screen and (max-width: 390px) {
    .container {
        width: auto;
        padding: 0 15px;
    }

    header .container .logo {
        display: block;
    }

    header {
        padding: 0px;
        padding-top: 45px;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        box-shadow: none;
    }
    header .container {
        padding: 0px;
        padding-left: 16px;
    }

    #preview .container {
        min-height: 251px;
        width: auto;
        padding: 0 15px;
        background: url(../img/preview-back-mobile.jpg);
        min-height: auto;
        background-size: 100% 100%;
    }

    .logo span, .login {
        display: none;
    }

    nav {
        z-index: 60;
        top: 0;
        margin: 0;
        position: fixed;
        right: -100vw;
        width: 165px;
        padding: 44px 15px 30px 0;
        display: block !important;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
        border-radius: 10px;
        transition: 0.5s;
    }

    header nav ul{
        flex-direction: column;
        gap: 10px;
    }

    nav li {
        text-align: right;
    }

    header ul .account, header ul .socia-media{
        display: block;
    }

    header nav a{
        font-size: 16px;
        line-height: 21px;
    }

    nav .close {
        display: block;
        position: absolute;
        left: 15px;
        top: 15px;
    }

    .active-menu nav {
        right: 0px;
    }

    .big-shadow {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: 0.5s;
    }

    .active-menu .big-shadow {
        display: block;
        z-index: 50;
        opacity: 1;
    }
    
    #preview h1, #preview p {
        display: none;
    }

    #preview {
        margin-bottom: 20px;
    }

    #preview .preview-inner .search-field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 48px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
    }

    #preview .search-field input[type="text"] {
        padding: 0 0 0 16px;
        width: 226px;
        height: 48px;
        border: none;
        background: none;
        outline: none;
        font-family: 'Aleo', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
    }

    #preview .preview-inner {
        padding: 0px;
        padding-top: 142px;
        padding-bottom: 61px;
        width: auto;
    }

    #preview .search-field button {
        margin-right: 9px;
        width: 92px;
        height: 30px;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        font-family: 'Red Hat Text', sans-serif;
        font-style: normal;
        background-color: #0D606F;
        color: #fff;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
        cursor: pointer;
        transition: background-color 1.5s;
    }

    #preview .search-field input::placeholder {
        width: 100%;
        font-family: 'Aleo', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
    }

    #nav-toggle {
        position: absolute;
        right: 20px;
        top: 43px;
        display: block;
        width: 35px;
        height: 32px;
    }

    #nav-toggle span {
        position: absolute;
        left: 4px;
        top: 8px;
        display: block;
        width: 26px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
    }

    #nav-toggle span:nth-child(2) {
        top: 15px;
    }

    #nav-toggle span:nth-child(3) {
        top: 22px;
    }

    #steps {
        margin-bottom: 22px;
    }

    #steps .container-steps {
        width: auto;
    }

    #steps .container-steps h2 {
        margin: 0 0 20px;
        font-family: 'Red Hat Text', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #F2785C;
        text-align: center;
    }

    #steps .container-steps .list-steps {
        padding: 0 15px;
        margin: 0 0 22px;
        display: flex;
        justify-content: space-between;
    }

    #steps .list-steps .step:nth-child(2) {
         margin-left: 0px;
    }

    #steps .step img {
        margin: 0 auto 30px;
        width: 70px;
        height: 70px;
        background: #F2785C;
        border-radius: 16px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #steps .step:first-child p {
        text-align: left;
        width: 94px
    }
    
    #steps .step p {
        margin: 0;
        color: #0D606F;
        font-family: 'Aleo', sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    #steps .step:first-child .icon {
        margin-left: 0;
        margin-right: 20px;
    }

    #steps .step:nth-child(2) {
        margin-left: 12px;
    }

    
    #steps .step .icon {
        width: 70px;
        height: 70px;
        margin: 0 auto 19px;
        background: #F2785C;
        border-radius: 16px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #steps .step:last-child * {
        margin-right: 0;
        margin-left: auto;
    }

    #steps .step:last-child p {
        text-align: right;
        width: 94px;
    }
    
    #steps .container-steps .list-steps .step .bike {
        background-image: url(../img/step_first.svg);
        background-size: 35px 31px;
    }
    
    #steps .container-steps .list-steps .step .calendar {
        background-image: url(../img/step_second.svg);
        background-size: 35px 31px;
    }
    
    #steps .container-steps .list-steps .step .plane {
        background-image: url(../img/step_third.svg);
        background-size: 35px 31px;
    }

    #destinations h2 {
        padding: 0 12px;
        margin: 0 0 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #F2785C;
    }

    #destinations .roulette {
        margin: 0 0 10px;
        padding: 0;
    }

    #destinations .destinations-pictures {
        position: relative;
        margin: 0;
        padding: 1px 15px 0;
        display: flex;
        justify-content: flex-start;
        list-style: none;
    }
    #destinations .destinations-pictures :nth-child(2), #destinations .destinations-pictures :nth-child(3) {
        display: none;
    }

    #destinations .destinations-pictures .pictures {
        margin: 0;
        max-width: 100%;
        flex: none;
        overflow: hidden;
        position: relative;
        line-height: 0em;
    }

    #destinations .destinations-pictures .pictures img {
        max-width: 100%;
        content: url(../img/spain-mobile.jpg);
    }
    
    #destinations .destinations-pictures .pictures :nth-child(2) {
        display: block;
        position: absolute;
        bottom: initial;
        top: 8px;
        left: 15px;
        font-family: 'Red Hat Text', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
    }

    #destinations .roulette-next {
        display: block;
    }

    #destinations .roulette-prev {
        display: block;
    }

    #destinations .roulette-next img {
        position: absolute;
        right: 25px;
        top: 59%;
        margin-top: -14px;
        display: block;
        cursor: pointer;
    }

    #destinations .roulette-prev img {
        position: absolute;
        display: block;
        top: 59%;
        left: 25px;
        margin-top: -14px;
        cursor: pointer;
    }

    #destinations .pagination {
        position: relative;
        left: 0;
        right: 0;
        bottom: 15px;
        gap: 6px;
        padding: 0;
        margin: 0px;
        list-style: none;
    }

    #destinations .pagination .point-no-choose {
        width: 8px;
        height: 8px;
    }
    
    #destinations .pagination .point-choose {
        width: 8px;
        height: 8px;
    }

    #destinations .find-more button{
        margin: 0px auto 20px;
        padding: 10px 12px;
        padding-left: 28px;
        padding-right: 12px;
        font-size: 11px;
        line-height: 15px;
        background-image: url(../img/arrow-mobile.svg);
        background-size: 8px 5px;
        background-position: 12px 14px;
    }

    #stories h2 {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 19px;
    }

    #stories .stories-list .stories {
        padding: 0 0 50px;
        margin-bottom: -50px;
        background: url(../img/background-stories-list-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }
    
    #stories .stories .list {
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    #stories .stories .container {
        padding: 10px 15px;
        width: auto;
        margin: 0 auto;
        min-height: auto;
        background-size: 100% 100%;
    }

    #stories .container .story {
        padding: 0 0 13px;
        margin-bottom: 0;
        gap: 10px;
        overflow: hidden;
    }

    #stories .container .story  * {
        flex: 1 0 auto;
    }
    
    #stories .story .text {
        width: 50%;
        text-overflow: ellipsis;
    }
    
    #stories .story .image1{
        display: block;
        max-width: 155px;
        height: 130px;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/first-story-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: auto 100%;
    }
    
    #stories .story .image2{
        display: block;
        max-width: 155px;
        height: 130px;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/second-story-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: auto 100%;
    }
    
    #stories .story .image3{
        display: block;
        max-width: 155px;
        height: 130px;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/third-story-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: auto 100%;
    }
    
    #stories .story .image4{
        display: block;
        max-width: 155px;
        height: 130px;
        border-radius: 16px;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px #0D606F);
        line-height: 0em;
        background: url(../img/four-story-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: auto 100%;
    }
    
    #stories .text h5{
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
    }
    
    #stories .text p {
        margin: 0;
        height: 9.5em;
        overflow: hidden;
        margin-bottom: 0px;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }
    
    #stories .text a {
        font-size: 8px;
        line-height: 10px;
    }

    #stories .see-more{
        text-align: center;
    }
    
    #stories .see-more button {
        margin: 0;
        padding: 10px 12px;
        padding-left: 28px;
        padding-right: 12px;
        font-size: 11px;
        line-height: 15px;
        background-size: 8px 5px;
        background-position: 12px 14px;
    }

    footer {
        height: 50px;
        padding-top: 13px;
    }

    footer .course, footer p{
        display: none;
    }

    footer ul {
        width: 140px;
        margin: 0 auto;
    }
}

