* {
    box-sizing: border-box;
  }

html, body {
    width: 100%;
    margin: 0 auto;
    min-width: 1440px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 120px;
}

header {
    position: relative;
    z-index: 50;
    padding: 25px 0 24px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
}
header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    font-family: 'Magra', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0em;
}

header .container nav {
    margin: 10px 0 0 -31px;
}

header .container nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    margin: 0;
    padding: 0;
    list-style: none;
}
header .container nav ul li {
    display: list-item;
}
header .container nav ul li a{
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
header .container .login button {
    padding: 10px 30px;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    outline: none;
    background: #0D606F;
    border-radius: 10px;
}

main {
    clear: both;
    height: 100%;
}

#preview {
    margin-top: -90px; 
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#preview .container {
    min-height: 765px;
    background: url(../img/preview-back.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto 100%;
}
#preview .container .preview-inner {
    width: 892px;
    padding-top: 122px;
}
#preview .container .preview-inner h1 {
    margin: 0 auto;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}
#preview .container .preview-inner p {
    margin-top: 32px;
    margin-bottom: 46px;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#preview .container .preview-inner .search-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 892px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

#preview .container .preview-inner .search-field input[type="text"]{
    width: 646px;
    height: 95px;
    padding: 0 0 0 41px;
    border: none;
    background: none;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

#preview .container .preview-inner .search-field input::placeholder {
    width: 100%;
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

#preview .container .preview-inner .search-field button {
    margin-right: 18px;
    width: 228px;
    height: 59px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    background-color: #0D606F;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

#steps {
    margin-bottom: 97px;
}

#steps .container-steps h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#steps .container-steps {
    margin: 0 auto;
    width: 1200px;
}

#steps .container-steps .list-steps {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 97px;
}

#steps .container-steps .list-steps .step img {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: #F2785C;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#steps .container-steps .list-steps .step p {
    margin: 0;
    color: #0D606F;
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

#steps .container-steps .list-steps .step .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: #F2785C;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#steps .container-steps .list-steps .step .bike {
    background-image: url(../img/step_first.svg);
}

#steps .container-steps .list-steps .step .calendar {
    background-image: url(../img/step_second.svg);
}

#steps .container-steps .list-steps .step .plane {
    background-image: url(../img/step_third.svg);
}

#steps .container-steps .list-steps .step:nth-child(2) {
    margin-left: 70px;
}

#destinations h2 {
    margin: 0 0 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

#destinations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#destinations .destinations-pictures {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-bottom: 20px;
    margin-top: 6px;
}
#destinations .destinations-pictures .pictures {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    line-height: 0em;
    margin: 0 30px;
    flex: 1 0 800px;
}

#destinations .destinations-pictures .pictures span {
    position: absolute;
    left: 15px;
    bottom: 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
}

#destinations .pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#destinations .pagination .point-no-choose {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
}

#destinations .pagination .point-choose {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #F2785C;
}

#destinations .find-more button{
    border: none;
    outline: none;
    background: #0D606F;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
    padding: 14px 33px 13px 81px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 35px center;
    background-size: 35px 22px;
    margin: 40px auto 80px;
}